

.header-section{
  background-image:url(../assets/bg.png);

}
.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.head-school{
  font-size: 2rem;
  width:bold;
}
.link-bar{
margin: 30px;
  
}
.bar1{
  
  font-size: 1.4rem;
}
.bar2{
  color: skyblue;
  font-size: 1.4rem;
}
.bar3{
  font-size: 1.4rem;
  color: skyblue;
}
.bar4{
  font-size: 1.4rem;
  color: #5D58EF;
}
.primary-btn{
  padding: 10px 30px;
  background-color: orange;
  border-radius: 12px;
}
.nav-first{
  display: flex;
 
  
}
a{
  text-decoration: none;
  
margin: 30px;
}
.layout{
  display: flex;
  justify-content: center;
  
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
}
.layout-text{
  margin-top: 100px;
  

}
.empower{
  font-size: 3.5rem;
}
.layout-para{
  font-size: 1.4rem;
}
.secondary-btn{
  color: white;
  background-color: black;
  font-size: 1.4rem;
  border-radius: 12px;
}
.kid-image{
  
  
}
.main-part{
  text-align: center;
  font-size: 2.8rem;
}
.secondary-btn1{
  background: none;
}
.middle-part{
  display: flex;
gap: 30px;
  align-items: center;
  justify-content: space-around;
  padding: 100px; 
  flex: 1;
}


.section1{
  padding: 30px;
   background-color: wheat;
  background-image: linear-gradient( rgb(150, 201, 221),white);

  border-radius: 20px;
  text-align: center;
} 
.section2{
  padding: 30px;
  background-image: linear-gradient(rgba(255, 244, 220, 1),white);
  border-radius: 20px;
   text-align: center;
} 
.section3{
  padding: 30px;
  background-image: linear-gradient(rgba(242, 232, 255, 1),white);
  border-radius: 20px;
   text-align: center;
}
.image-icon{
  height: 50px;
  width: 50px;
  display: flex;
  
  text-align: center;
  margin-left: 700px;
  background-color: white;
}
.top-header{
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}
.main-convertion{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.main-four{
  grid-template-columns: repeat(2,1fr);
  display: grid; 
  gap: 20px;
  

}
.final-page{
  background-image: linear-gradient(white,rgb(172, 120, 25));
  
}
.story-part{
  background-color: white;
  border-radius: 20px;
}
.story-image{
  border-radius: 20px 20px 0px 0px;
width: 100%;
}
.main1{
  background-color: white;
  width: 100%;
  
  border-radius: 10px;
}
.main2{
  background-color: white;
  width: 300px;
  
  border-radius: 10px;
}
.main3{
   background-color: white;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main4{
  background-color: white;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.main-images

 
{
  width:100%;
  border-radius: 10px 10px 0px 0px;

}
.final-btn{
  
  text-align: center;
  
  background-color: black;
  color: white;
  padding: 15px 50px;
  margin-left: 700px;
  border-radius: 12px;
  margin-top: 20px;
}

.footer-section{
  display: flex;
  justify-content: center;
  gap: 50px;
  
  margin-top: 100px;
  background-color: rgba(1, 172, 253, 1);
}
.footer-anchor{
  grid-template-columns: repeat(1,1fr);
  padding: 30px;
}
.footer-logo{
  padding: 30px;
}
.footer-head{
  font-size: 1.5rem;
}
ul.no-bullets{
  list-style-type: none;
}
.final-log{
  display: flex;
  
}
.footer-first{
  padding: 30px;
}
 .menu-footer{
  color: white;
 }
 .kid-education{
  font-size: 2.8rem;
  color: white;
 }
.padding{
  padding: 40px;
}
.event{
  padding: 20px;
}






@media screen  and (max-width:576px){
  .layout{
    flex-direction: column-reverse;
    margin: 0px;
    padding: 0px;
  }
  .nav-bar{
      border-bottom: 1px solid orange;

  }
  .nav-bar,.middle-part{
    flex-direction: column;
    padding: 0px;
  }
  .layout-text{
    margin: 0px;
    text-align: center;
  }
  .link-bar ,.head-school,.primary-btn{
    visibility: hidden ;
    
  }
  .story-part{
    display: none;
  }
 .main-four {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
display: flex;
width: 100%;
  
 }
 .story-part{
  
 }

  .final-btn{
    flex-direction: column;
    margin-left: 200px;
  }
  .footer-section{
    flex-direction: column;
  }
  .footer-log{
    margin-left: 30px;
  }
  .no-bullets{
    margin: 0px;
    padding: 0px;
  }
  .main1,.main2,.main3,.main4{
    width: 100%;
  }
}
